{% extends "html/base.html" %}
{% block content %}
<div class="row ml-3 p-2">
    <div class="col-6">
        <form action="{% url 'edit_book' book.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group row">
                <label for="editbooktitle" class="col-3 mr-2">Title: </label>
                <input type="text" name="editbooktitle" id="editbooktitle" placeholder="{{ book.title }}" class="col-8">
            </div>
            <p>Added by: {{ book.uploaded_by.first_name }} {{ book.uploaded_by.last_name }}</p>
            <p>Added on: {{ book.created_at|date:"M j, Y @ g:i A" }}</p>
            <p>Last updated on {{ book.updated_at|date:"M j, Y @ g:i A" }}</p>
            <div class="form-group row">
                <label for="editbookdesc" class="col-3 mr-2">Description: </label>
                <textarea name="editbookdesc" id="editbookdesc" rows="5" class="form-control col-8" minlength="5" placeholder="{{ book.description }}"></textarea>
            </div>
            <button type="submit" class="text-right btn btn-primary mb-2">Edit Book</button>
            <a class="btn btn-danger" href="{% url 'delete_book_confirm' book.id %}" role="button">DELETE BOOK</a>
        </form>
    </div>
    <div class="col-6">
        <h2>Users Who Liked This Book</h2>
        <ul>
            {% for userobj in book.users_who_fav.all %}
            <li>{{ userobj.first_name }} {{ userobj.last_name }} 
                {% if userobj.id == loggedinuser.id %}
                | <a href="{% url 'unfavorite' book.id %}">Unfavorite</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}